html {
    box-sizing: border-box;
    font-size: 10px;
    background: #ffc600;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
}
  
h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start .start-game {
    background-color: #744c03;
    color: #ffc600;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 1.9em;
    border-radius: 22px;
    border: 1px solid brown;
    cursor: pointer;
    transition: all .5s ease;
}

.start .start-game:hover {
    background-color: #ffc600;
    color: #744c03;
}

.start h2 {
    font-size: 4rem;
}
  
.score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}
  
.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
  
.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}
  
.hole:after {
    display: block;
    background: url(dirt.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}
  
.mole {
    background: url('mole.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
}
  
.hole.up .mole {
    top: 0;
}

.records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    padding: 20px;
    text-align: center;
}

.records h2 {
    margin: 55px 0 0;
}

table, th, tbody {
    border: 1px solid #744c03;
    background-color: green;
    width: 300px;
    color: white;
}